<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="System.ServiceModel.Routing.RoutingService"
               behaviorConfiguration="routerConfig">
        <endpoint address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="WcfPoc.AIC.Service.RouterBindingConfiguration"
                  contract="System.ServiceModel.Routing.IRequestReplyRouter"
                  name="reqReplyEndpoint"/>
        <host>
          <baseAddresses>
            <add baseAddress="https://ibrahimoguz/WcfPocServices/RouterService.svc" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="routerConfig">
          <routing filterTableName="RoutingTable" routeOnHeadersOnly="false" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="WcfPoc.AIC.Service.RouterBindingConfiguration" hostNameComparisonMode="StrongWildcard" receiveTimeout="00:10:00" sendTimeout="00:20:00" closeTimeout="00:10:00">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="WcfPoc.AIC.Service.BackendBindingConfiguration" hostNameComparisonMode="StrongWildcard" receiveTimeout="00:10:00" sendTimeout="00:20:00" closeTimeout="00:10:00">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint name="ServiceV1"
                address="http://localhost/WcfPocServices/AIC/AICACOService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="WcfPoc.AIC.Service.BackendBindingConfiguration"
                contract="*" />
      <endpoint name="ServiceV2"
                address="http://localhost/WcfPocServices/AIC/AICATOService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="WcfPoc.AIC.Service.BackendBindingConfiguration"
                contract="*" />
    </client>
    <routing>
      <namespaceTable>
        <add prefix="s" namespace="http://schemas.xmlsoap.org/soap/envelope/"/>
        <add prefix="cn" namespace="http://WcfPoc.wcfRouting.int/Increment1"/>
      </namespaceTable>
      <filters>
        <filter name="previousVersionFilter"
                filterType="XPath"
                filterData="/s:Envelope/s:Header/cn:Version ='v1.0'"/>
        <filter name="latestVersionFilter"
                filterType="XPath"
                filterData="count(/s:Envelope/s:Header/cn:Version) = 0" />
      </filters>
      <filterTables>
        <filterTable name="RoutingTable">
          <add filterName="previousVersionFilter" endpointName="ServiceV2"/>
          <add filterName="latestVersionFilter" endpointName="ServiceV1"/>
        </filterTable>
      </filterTables>
    </routing>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
