<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="NorthwindEntities" connectionString="metadata=res://*/NorthwindDB.csdl|res://*/NorthwindDB.ssdl|res://*/NorthwindDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\BTS_POC;Initial Catalog=Northwind;Persist Security Info=True;User ID=sa;Password=1234qqqQ;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_INorthwindOpsService"
                 maxReceivedMessageSize="2147483647"
						 maxBufferSize="2147483647"
						 maxBufferPoolSize="52428800"
						 transferMode="Buffered"
						 messageEncoding="Text"
						 textEncoding="utf-8">
          <readerQuotas maxArrayLength="2147483647"
                   maxBytesPerRead="2147483647"
                   maxDepth="2147483647"
                   maxNameTableCharCount="2147483647"
                   maxStringContentLength="2147483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://win-m787sm1t5sq/NorthwindOps/NorthwindOpsService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INorthwindOpsService"
        contract="NorthwindWS.INorthwindOpsService" name="BasicHttpBinding_INorthwindOpsService" />
    </client>
  </system.serviceModel>
</configuration>