<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="System.ServiceModel.Routing.RoutingService" 
               behaviorConfiguration="routerConfig">
        <!--<endpoint address="http://localhost:8080/ORBATService/router"
                  binding="basicHttpBinding"
                  contract="System.ServiceModel.Routing.IRequestReplyRouter"
                  name="reqReplyEndpoint" />-->
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="routerConfig">
          <routing filterTableName="RoutingTable" routeOnHeadersOnly="false" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
      <endpoint name="ORBATServiceV1"
                address="http://localhost:8020/ORBATServiceV1/ORBATService.svc"
                binding="basicHttpBinding"
                contract="*" />
      <endpoint name="ORBATServiceV2" 
                address="http://localhost:8021/ORBATServiceV2/ORBATService.svc"
                binding="basicHttpBinding" 
                contract="*" />
    </client>
    <routing>
      <namespaceTable>
        <add prefix="s" namespace="http://schemas.xmlsoap.org/soap/envelope/"/>
        <add prefix="cn" namespace="http://WcfPoc.wcfRouting.int/Increment1"/>
      </namespaceTable>
      <filters>
        <filter name="previousVersionFilter" 
                filterType="XPath" 
                filterData="/s:Envelope/s:Header/cn:Version ='v1.0'"/>
        <filter name="latestVersionFilter"
                filterType="XPath"
                filterData="count(/s:Envelope/s:Header/cn:Version) = 0" />
      </filters>
      <filterTables>
        <filterTable name="RoutingTable">
          <add filterName="previousVersionFilter" endpointName="ORBATServiceV1"/>
          <add filterName="latestVersionFilter" endpointName="ORBATServiceV2"/>
        </filterTable>
      </filterTables>
    </routing>
  </system.serviceModel>
</configuration>