<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PersonelAtama.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <connectionStrings>
    <!--TEST-->
    <!--<add name="PersonelAlimConnectionString" connectionString="GaqgAzdeULC61GGz4rb7U5HQJ9NeK9ULMETvwi4Fqo2ZEmxhWzfIab86PyRDD566UYv1qPSemSxsDCc9z963zvypHduYXz74+cIe0/GuT+tssCY2VsG5ie57O2yo3OTB6lpfYIUJoVIOvgqpoFcMCw=="/>-->
    <!--PROD-->
    <add name="PersonelAlimConnectionString" connectionString="GaqgAzdeULC61GGz4rb7U5HQJ9NeK9ULMETvwi4Fqo2ZEmxhWzfIab86PyRDD566UYv1qPSemSxsDCc9z963zrwBbCuQEz/2HSv4spoidVN9btQtNYfZtLBN2CratpQVz4HDMWT8JoJArOvqWwmgG6qDzljsGRxursfxomRkHug="/>
  </connectionStrings>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <applicationSettings>
    <PersonelAtama.Properties.Settings>
      <setting name="PersonelAtama_YetkiKontrol_YetkileriGetir" serializeAs="String">
        <value>http://webservice.ABC.gov.tr/Yetki_Kontrol/YetkileriGetir.asmx</value>
      </setting>
    </PersonelAtama.Properties.Settings>
  </applicationSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<!--<dependentAssembly>
				<assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89B483F429C47342" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.112.1.0" newVersion="2.112.1.0"/>
			</dependentAssembly>-->
			<!--<dependentAssembly>
				--><!--<assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89B483F429C47342" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.112.1.0" newVersion="2.112.1.0"/>--><!--
			</dependentAssembly>-->
		</assemblyBinding>
	</runtime>
</configuration>
