<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <connectionStrings>
    <!--TEST-->
    <add name="PersonelAlimConnectionString" connectionString="GaqgAzdeULC61GGz4rb7U5HQJ9NeK9ULMETvwi4Fqo0J930tB9qt06llqEDwBEUYcrD3eLBsSc7sCXQ4RvTFiaKjeOcs6YLv/LDMI8H7N+tQpylVdBHslrzE0qjTWhP5ydFCWm7uodcc6NsIOZVnsHrHT3xrFAm5lqYZxdMt/68bgw19xsOodpbb1q+bMY7ur8eELTZftgZP7Qs5vsvntQlio9pvGsDqWv43QklyMvz8iftIav0tQCWTK5qSKVqHiU2o0gQIfmkbHFU5+KnkZJmzA4cvNIB83CZhkccczbnKAwr77ncs/Nvmc1aFf12vSYMakxYtsQb0em1xqaccQxa/bRAIz8cZ6730zpVeem7WeJptOtTZ2IRqBSSwbKwW"/>
    <!--PROD-->
    <!--<add name="PersonelAlimConnectionString" connectionString="GaqgAzdeULC61GGz4rb7U5HQJ9NeK9ULMETvwi4Fqo0J930tB9qt06llqEDwBEUYcrD3eLBsSc7sCXQ4RvTFiaKjeOcs6YLv/LDMI8H7N+tQpylVdBHslrzE0qjTWhP5d69wqkMxEjuycN2cr3TYic5pWq7/0Y3lgIdceUMwrTuALql7S1I39VCKjHmJV1x8OEXp+L19orAGBGcKqXl2qzcltF99IGT7czwSt5f2UcukKFU1VI8SlVlRRmT/QHtlrhCrmCUNesO5gDx/gFQHC0ksLihmIQGq8F4huZ0Li7RkT5stUpgdCkKLMq+xBA8MecQUlsJRYRUW5rEwYM9rAdfs3qSCWmmd3CZiRRxOzDP1Q/CYj0DTfPDJV8rZWbpa"/>-->
  </connectionStrings>
</configuration>
