<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IKonteyner" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ws.xxx.gov.tr:8080/EXT/ABC/Konteyner/Provider"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IKonteyner"
                contract="KonteynerWS_Gateway.IKonteyner" name="BasicHttpBinding_IKonteyner" />
        </client>
    </system.serviceModel>
</configuration>