<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="WcfPoc.Services.ORBATServiceV1.ORBATServiceBehavior"
               name="WcfPoc.Services.ORBATServiceV1.ORBATService">
        <endpoint binding="basicHttpBinding"
                  contract="WcfPoc.Services.ORBATServiceV1.IORBATServiceV1"
                  bindingConfiguration="Binding1"/>
        <endpoint address="mex"
                  binding="mexTcpBinding"
                  contract="IMetadataExchange" />
        <!--<host>
          <baseAddresses>
            <add baseAddress="http://localhost:8081/ORBATServiceV1/ORBATService.svc"/>
          </baseAddresses>
        </host>-->
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WcfPoc.Services.ORBATServiceV1.ORBATServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceThrottling maxConcurrentCalls="2147483647"
                             maxConcurrentInstances="2147483647"
                             maxConcurrentSessions="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="Binding1"
                 hostNameComparisonMode="StrongWildcard"
                 receiveTimeout="00:10:00"
                 sendTimeout="00:10:00"
                 openTimeout="00:10:00"
                 closeTimeout="00:10:00"
                 maxReceivedMessageSize="2147483647"
                 maxBufferSize="2147483647"
                 maxBufferPoolSize="52428800"
                 transferMode="Buffered"
                 messageEncoding="Text"
                 textEncoding="utf-8"
                 bypassProxyOnLocal="false"
                 useDefaultWebProxy="true">
          <security mode="None"/>
          <readerQuotas maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647"
                        maxDepth="2147483647"
                        maxNameTableCharCount="2147483647"
                        maxStringContentLength="2147483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
      <add binding="basicHttpBinding" scheme="http"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>